<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <listener-class>dbcp.ConnectionPool</listener-class>
    </listener>
    <!-- This component has a dependency on an external resource-->
    <resource-ref>
        <description>DB Connection Pooling</description>
        <res-ref-name>jdbc/TestDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <servlet>
        <servlet-name>FlightServlet</servlet-name>
        <servlet-class>Servlets.FlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBSelect</servlet-name>
        <servlet-class>test.DBSelect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ciudades</servlet-name>
        <servlet-class>Servlets.Ciudades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlightReservacion</servlet-name>
        <servlet-class>Servlets.FlightReservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelReservation</servlet-name>
        <servlet-class>Servlets.CancelReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reservacion</servlet-name>
        <servlet-class>Servlets.Reservacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelServlet</servlet-name>
        <servlet-class>Servlets.HotelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservarP</servlet-name>
        <servlet-class>Servlets.ReservarP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareOfr</servlet-name>
        <servlet-class>Servlets.PrepareOfr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveFB</servlet-name>
        <servlet-class>Servlets.SaveFB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlightServlet</servlet-name>
        <url-pattern>/FlightServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBSelect</servlet-name>
        <url-pattern>/DBSelect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ciudades</servlet-name>
        <url-pattern>/Ciudades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlightReservacion</servlet-name>
        <url-pattern>/FlightReservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelReservation</servlet-name>
        <url-pattern>/CancelReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reservacion</servlet-name>
        <url-pattern>/Reservacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelServlet</servlet-name>
        <url-pattern>/HotelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservarP</servlet-name>
        <url-pattern>/ReservarP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareOfr</servlet-name>
        <url-pattern>/PrepareOfr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveFB</servlet-name>
        <url-pattern>/SaveFB</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
